postgresql:
  username: myuser
  password: mypassword
  database: mydatabase

minio:
  username: minio99
  password: minio123
  defaultBucket: test-bucket

image: ghcr.io/yimwaikei/demo-kubernetes-backend:174415bb3dcd4f700585641a1b7a66657ab6296f

jobImage: ghcr.io/yimwaikei/demo-kubernetes-scripts:demo

replicas: 1
