postgresql:
  username: myuser
  password: mypassword
  database: mydatabase

image: ghcr.io/yimwaikei/demo-kubernetes-scripts:b39ae977dab472c134dda2726b06be2c4f71f571

cronjob:
  failStuckJobs:
    schedule: "*/5 * * * *"
    jobTimeout: "15"
