postgresql:
  username: myuser
  password: mypassword
  database: mydatabase

image: ghcr.io/yimwaikei/demo-kubernetes-scripts:demo

cronjob:
  failStuckJobs:
    schedule: "*/5 * * * *"
    jobTimeout: "15"
